.blog{
  font-weight: 600;
  color: black
}


#head-link{
  border-right: 1px solid;
  margin-right: 15px;
}

#head-link-0{
  opacity: 0.7;
  text-align: center;
}

.head-link-0:hover{
  border-bottom: 2px solid;
}
